@use "../assets/colors";

.lineCountWrapper {
  font-family: monospace;
  padding-top: 8px;
  padding-right: 1em;
  text-align: end;
  width: 1.5em;
  display: flex;
  flex-direction: column;

  span.error {
    background-color: colors.$red;
  }
}
