.modalBackground {
  z-index: 1;
  position: fixed;
  inset: 0;
  opacity: 0.6;
  background-color: black;
  animation: fadeIn 100ms ease-in;
}
.modalWrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  animation: fadeIn2 100ms ease-in;
  z-index: 2;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
