@use "../assets/colors";
@use "../assets/size";
@use "../assets/breakpoints";

.optionsPanelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;

  .settings {
    width: size.$buttonSizeM;
    height: size.$buttonSizeM;

    background-image: url(/settings.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-color: transparent;
    opacity: 0.9;
    border: 0;
    transform-origin: center;
    transform: scale(1);
    transition-duration: 100ms;

    cursor: pointer;

    &:hover {
      opacity: 1;
      transform: scale(1.05);
    }
  }
}

@media (min-width: breakpoints.$lg) {
  .optionsPanelWrapper {
    .settings {
      width: size.$buttonSizeL;
      height: size.$buttonSizeL;
    }
  }
}
