@use "../assets/colors";
.textForm__topBar {
  position: absolute;
  top: 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 120px);
}

.textForm__inputWrapper {
  position: relative;
  height: 100%;

  display: flex;
  align-items: stretch;
  justify-content: stretch;

  font-size: 16px;
  line-height: 22px;
  color: white;

  overflow: auto;

  .innerText {
    height: auto;
    height: max-content;

    font-family: "Nunito";
    font-weight: 400;

    padding: 8px;
    border: 0;

    flex-grow: 19;
    min-height: 100%;

    resize: none;
    background-color: gray;

    line-height: 22px;
    color: white;
    font-size: 16px;

    overflow-y: hidden;

    &::placeholder {
      color: white;
      opacity: 0.8;
    }

    &:focus-visible {
      outline: none;
    }
  }
}

.textForm__botBar {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.textForm__topBar,
.textForm__botBar {
  .submitBtn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-color: transparent;

    padding: 8px;
    border-radius: 30px;
    border: 2px solid colors.$green;

    font-weight: 600;
    color: colors.$green;

    transition-property: color, background-color;
    transition-duration: 150ms;

    cursor: pointer;

    &:hover {
      color: colors.$white;
      background-color: colors.$green;
    }

    &:disabled {
      background-color: transparent;
      color: colors.$grey;
      border-color: colors.$grey;
      cursor: not-allowed;
    }
  }
}
