@use "../assets/colors";
@use "../assets/mixins";
@use "../assets/breakpoints";

.validatorStatusWrapper {
  display: flex;
  gap: 5px;
  align-items: center;

  .statusMsg {
    color: white;
    font-family: "Nunito";
    font-weight: 400;
  }
  .statusMsg.error {
    color: colors.$red;
  }

  .statusMsg.success {
    color: colors.$green;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  .icon.success {
    @include mixins.set-icon-bg;
    background-image: url(/done.svg);
  }

  .icon.error {
    @include mixins.set-icon-bg;
    background-image: url(/error.svg);
    position: relative;
    .tooltip {
      position: absolute;
      width: 900%;
      left: 0;
      bottom: -300%;

      z-index: 10;

      padding: 8px;
      border-radius: 4px;

      background-color: colors.$white;
      pointer-events: none;
    }
  }
}

@media (max-width: breakpoints.$md) {
  .validatorStatusWrapper {
    .icon.error {
      .tooltip {
        width: 900%;
        left: 0;
        bottom: -300%;
      }
    }
  }
}
