@use "../../../assets/mixins";
@use "../../../assets/colors";
@use "../../../assets/fonts";

.settings__audioFeaturesResponse__container {
  @include mixins.settings-grid();
  grid-template-rows: 1fr;
  max-width: 100vw;

  .settings____audioFeaturesResponse__label {
    grid-area: header;
    justify-content: center;
    text-align: center;
    font-size: fonts.$subHeadS;
    display: flex;
    gap: 16px;
  }
}
.settings__audioFeaturesResponse__checkbox {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.settings__audioFeaturesResponse__table {
  @include mixins.column();
  grid-area: rest;
  gap: 8px;

  input,
  select {
    padding: 8px;
  }
}
