@use "../../assets/mixins";
@use "../../assets/colors";
@use "../../assets/fonts";

.settings__audioFeaturesQuery__container {
  display: grid;
  position: relative;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "rest rest";
  background-color: black;
  color: white;
  padding: 32px;
  border: 2px solid colors.$white;
  border-radius: 16px;
  gap: 16px;

  .settings__label {
    grid-area: header;
    text-align: center;
    font-size: fonts.$subHeadS;
  }
}

.settings__audioFeaturesQuery__checkbox {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}
