@use "../assets/fonts";
@use "../assets/colors";
@use "../assets/mixins";
@use "../assets/breakpoints";

.about__container {
  @include mixins.column();
  flex-grow: 1;
  padding: 8px;
  h1 {
    font-size: fonts.$subHeadL;
  }
  h3,
  li {
    font-size: fonts.$subHeadM;
  }
  h1 {
    align-self: center;
  }
  h1,
  h3 {
    span {
      color: colors.$green;
    }
  }
}

@media (max-width: breakpoints.$v2mobile) {
  .about__container {
    h1 {
      font-size: fonts.$subHeadM;
    }
    h3,
    li {
      font-size: fonts.$textL;
    }
    h1,
    h3 {
      text-align: justify;
    }
  }
}
