@use "../assets/mixins";
@use "../assets/fonts";
@use "../assets/colors";

.login__form {
  @include mixins.column();
  font-size: fonts.$textM;
  gap: 8px;
  label {
    margin-top: 16px;
  }

  .login__forgotPassword {
    margin-top: 16px;
    text-align: center;
  }
}
