@use "../assets/mixins";
@use "../assets/fonts";
@use "../assets/colors";

.profile__container {
  @include mixins.column();
  justify-content: center;
  align-items: center;
  gap: 16px;

  h1 {
    font-size: fonts.$subHeadL;
  }
  form {
    @include mixins.column();
    gap: 8px;
    input {
      border: 1px solid #8d8d90;
      background-color: transparent;
      color: #ffffff;
      padding: 8px;
      width: 280px;
      border-radius: 4px;
      transition: all 100ms;
      font-size: 16px;
    }
  }
}

.profile__error,
.profile__success {
  width: 60%;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
}

.profile__error {
  background-color: colors.$red;
}

.profile__success {
  background-color: colors.$green;
  color: colors.$black;
}
