@use "./assets/colors";

#root {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  color: colors.$green;
}

.window {
  position: relative;
  border: 6px solid colors.$white;
  overflow-y: auto;
  border-radius: 45px;
  padding: 60px 45px;
  width: 80%;
  max-width: 1280px;
  height: 60vh;
}
